body {
    background-color: #11191f;
}

nav {
    background-color: #11324b9c;
    border-bottom: 1px solid rgba(255, 255, 255, 0.192);
}

hgroup {
        margin: 0.1rem 2rem 0.5rem;
}

.container {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

#source-file-summary::after {
    /* summary accordion collapse arrow is too far down, this fixes it */
    margin-top: -20px;
}

input[type="file"] {
    /* hack to hide the file input, add a button next to it instead */
    display: none;
}

textarea {
    font-family: monospace;
    font-weight: 100;
    font-size: 0.9rem;
    line-height: normal;
    resize: vertical;
}

label {
    padding-bottom: 2px;
}

/* positioning the clipboard icon inside textareas */

.text-wrap {
    position: relative;
}

.clipboard-icon {
    transition: 200ms linear;
    -webkit-transition: -webkit-filter 200ms linear;

    position: absolute;
    font-size: 1.5rem;
    right: 12px;
    top: 3px;
    filter: grayscale() opacity(30%);
}

.clipboard-icon:hover {
    cursor: pointer;
    filter: grayscale() opacity(100%);
}

.mini-bounce {
    animation: mini-bounce 0.5s ease-in-out; 
}

@keyframes mini-bounce {
    0%{ -webkit-transform:scale(1);}
    30%{ -webkit-transform:scale(1.3);}
    60%{ -webkit-transform:scale(1);}
    70%{ -webkit-transform:scale(1.1);}
    100%{ -webkit-transform:scale(1);}
}
